<section>

    <div class="d-flex justify-content-between">
        <h4>Listado de Posiciones</h4>
        <a routerLink="/posiciones/create" class="btn btn-success">Crear Posicion</a>
    </div>

    <br>

    <table class="table ">
        <tr>
            <th>Empresa</th>
            <th>Producto</th>
            <th>Fecha Entrega</th>
            <th>Moneda</th>
            <th>Precio</th>
        </tr>
        <tr *ngFor="let posicion of posiciones">
            <td>{{ posicion.razonSocial }}</td>
            <td>{{ posicion.nombre }}</td>
            <td>{{ posicion.entrega_format }}</td>
            <td>{{ posicion.moneda }}</td>
            <td>{{ posicion.precio | currency }}</td>
        </tr>
    </table>
</section>